body {
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-family: Geometos;
}

.header,
main {
    min-width: 320px;
    margin-bottom: 5px;
}

a {
    font-family: Geometos;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    background-color: transparent;
}

div.desktop,
section.desktop {
    display: none;
}

.header-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-proposal {
    font-size: 12px;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    padding: 5px 10px;
    border: 1px solid #888800;
    border-radius: 15px;
    background-color: #ffff00;
}

.header-proposal:hover {
    opacity: 0.5;
    color: #000000;
}

.header-phone-number {
    position: absolute;
    top: 40px;
    right: 1px;
    width: 145px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: normal;
    font-family: 'HelveticaNeueCyr';
    font-weight: bold;
    padding: 10px 20px;
}

.not-visible {
    display: none;
}


.header-menu-btn {
    width: 25px;
    box-sizing: border-box;
}

.nav-menu {
    position: absolute;
    top: 40px;
    right: 1px;
    width: 100%;
    min-height: 290px;
    background-color: #ffffff;
    z-index: 999;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    min-height: 290px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    line-height: normal;
    font-family: 'HelveticaNeueCyr';
    font-weight: bold;
    color: #000000;
    padding: 10px 20px;
    margin-bottom: 5px;
}

.nav-link:hover {
    background-color: #ffed00;
}

.item-language {
    position: relative;
}

.item-language::before {
    content: "";
	position: absolute;
	top: -5px;
	left: -25px;
	width: 20px;
	height: 20px;
    background:  url('../img/language.png') no-repeat  center;
    border: 1px solid #ffffff;
}

.item-language::after {
    content: "";
	position: absolute;
	top: 0;
	left: 25px;
	width: 20px;
	height: 20px;
    background:  url('../img/dropdown-item.png') no-repeat  center;
    border: 1px solid #ffffff;
}
/*Block main*/

/*Contact*/
.mobile-proposal {
    display: none;
}

.main-contact {
    min-height: 800px;
    background:  url('../img/features-printing.jpg') no-repeat  center;
    background-size: cover;
    margin-bottom: 7px;

}

.contact-list {
    list-style: none;
    margin-left: auto;
    margin-right: 30px;
    padding-top: 90px;
    width: 60px;
    height: 80px;
}

.contact-link  {
    position: relative;
    display: block;
    font-size: 1px;
    padding: 15px;
    color: transparent;
}

.contact-link::before {
    content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: 30px;
	height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #ffffff;
	
}

.messages {
    margin-left: 30px;
    background-color: transparent;

}

.viber::before {
    background: #ffffff url('../img/viber.png') no-repeat  center;
} 

.viber:hover::before {
    background-color: transparent;
} 

.messages::before {
    background:  url('../img/messages.png') no-repeat  center;
} 

.messages:hover::before {
    background-color: #ffffff;
} 

.telegram::before {
    background: #ffffff  url('../img/telegram.png') no-repeat  center;
}  

.telegram:hover::before {
    background-color: transparent;
} 

/*main-services*/

.main-services {
    margin-bottom: 12px;
}

.services-header {
    display: block;
    margin: 0 auto 7px auto;
    width: 70px;
    position: relative;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center; 
}

.services-header::before {
    content: "";
	position: absolute;
	bottom: 1px;
	left: 1px;
	width: 65px;
	height: 1px;
	background-color: #999999;
}

.container-services {
    display: flex;
    flex-direction: column;
    min-height: 266px;
    background:  url('../img/services-bg.jpg') no-repeat  center;
    background-size: cover;
    color: #ffffff;
    font-family: 'HelveticaNeueCyr';
    font-size: 10px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: bold;
}

.row-services {
    display: flex;
    justify-content: flex-start;
}

.col-services {
    padding: 5px;
    background-color: #999999;
    margin: 8px 5px;    
}

.row-aditional-services {
    justify-content: center;
}

.aditional-services {
    color: #ffed00;
    background-color: transparent;
    text-align: center;
}



/*block-description*/
.main-description {
    margin-bottom: 1px;
}

.description-img {
    display: none;
}

.description-logo {
    font-size: 14px;
    line-height: normal;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.description-logo .logo {
    margin-left: 5px;
}

.description-header {
    font-family: "FRANKLIN GOTHIC MEDIUM";
    font-size: 14px;
    line-height: normal;
    color: #6f6f6f;
}

.block-description {
    font-size: 11px;
    line-height: 18px;
    color: #000000;
    background:  url('../img/description-bg.png') no-repeat  0 100px;
    background-size: cover;
}

/*main-advantages*/
.main-advantages {
    min-height: 330px;
    background:  url('../img/advantages-bg.jpg') no-repeat  center;
    background-size: cover;
    margin-top: 1px;
}


.main-advantages .desktop {
    display: none;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    font-family: 'HelveticaNeueCyr';
    font-size: 10px;
    line-height: normal;
    font-weight: bold;
    margin-left: 70px;
    
}

.advantages-item {
    position: relative;
    background-color: #cccccc;
    padding: 11px 8px;
    margin-bottom: 20px;
}

.advantages-item::before {
    content: "";
	position: absolute;
	top: -7px;
	left: -58px;
	width: 63px;
	height: 63px;
	background-color: #21b03d;
    border-radius: 50%;
}

.first-advantages {
    margin-top: 30px;
    margin-bottom: 20px;
}

.second-advantages {
    margin-bottom: 120px;
}

.first-advantages::before {
    background:  url('../img/advanteg1.png') no-repeat;
}

.second-advantages::before {
    background:  url('../img/advanteg2.png') no-repeat;
}

.third-advantages::before {
    background:  url('../img/advanteg3.png') no-repeat;
}
.forth-advantages::before {
    background:  url('../img/advanteg4.png') no-repeat;
}

/*our-product*/

.our-product {
    min-height: 721px;
    background:  url('../img/our-product-bg.jpg') no-repeat  center;
    background-size: cover;
    margin-top: 1px;
    
}

.our-product-header {
    text-align: center;
    margin: auto;
    padding: 20px;
    font-family: "FRANKLIN GOTHIC MEDIUM";
    font-size: 14px;
    line-height: normal;
    color: #ffffff;
    width: 160px;
    text-transform: uppercase;
    background:  url('../img/rectangle.png') no-repeat  center;
}

.our-product-list {
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 1px;
}

.our-product-link {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 10px 30px;
    font-family: 'HelveticaNeueCyr';
    font-size: 10px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    background-color: #757575;
}

.our-product-link::before {
    content: "";
	position: absolute;
	top: 15px;
	left: 10px;
	width: 7px;
	height: 7px;
	background-color: #ffee00;
    border-radius: 50%;
}

.our-product-link:hover {
    color: #ffee00;
}

.our-product-link:hover::before {
    background-color: #ffffff;
}

/*Portfolio*/

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 231px;
     background:  url('../img/portfolio-bg.jpg') no-repeat  0 0;
    background-size: cover;    
}

.portfolio-desktop {
    display: none;
}

.portfolio-header {
    position: relative;
    font-size: 16.32px;
    text-transform: uppercase;
    background:  url('../img/rectangle.png') no-repeat  center;
    padding: 25px;
}


/*our-clients*/
.our-clients {
    position: relative;
}

.clients-desktop {
    display: none;
}

.our-clients-header {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
    color: #000000;
}

.our-clients-table {
    margin-left: auto;
    margin-right: auto;
}

.our-clients-table td {
    border: 1px solid #bababa;
    padding: 10px 20px;        
}

.our-clients-btn {
    position: absolute;
    top: 120px;
    left: 20px;
    transform: rotate(45deg);
    font-size: 1px;
    padding: 12px;
    color: transparent;
    border: 2px solid #7d7e7e;
}

.our-clients-prev {
    border-top-color: transparent;
    border-right-color: transparent;    
}

.our-clients-next {
    left: auto;
    right: 20px;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

/*our-address*/

.our-address-header {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
    color: #000000;
}

.our-address-header-desktop {
    display: none;
}

.our-address-block {
    display: flex;
    justify-content:space-around;
}

.our-address-paragraph {
    display: block;
    margin-bottom: 20px;
}

.our-address-map {
    width: 100%;
}

/*footer*/

.main-footer {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}

.footer-block {
    display: flex;
    flex-direction: column;
}

.main-footer a {
    margin-bottom: 5px;
    color: #000000;
    text-decoration: none;
}

.copyright {
    text-align: center;
    font-family: "ProximaNova";
    font-size: 12px;
    line-height: normal;    
}

@media (min-width: 420px) {    
    body {
    min-width: 420px;
    }
    
    div.mobile,
    section.mobile {
        display: none;
    }
    
    div.desktop,
    section.desktop {
        display: block;
    }
    
    .nav-menu {
        position: static;
        min-height: 70px;
    }

    .nav-list {
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    min-height: 70px;
    align-items: center;
    }

    .nav-link {
    font-size: 16px;
    line-height: normal;
    font-family: 'HelveticaNeueCyr';
    font-weight: bold;
    color: #000000;
    padding: 2px 10px;
    margin-bottom: 5px;
    }

    .header-phone-number {
        position: static;
        padding: 0;
        margin-right: 10px;
    }
    
    .item-language {
        margin-left: 15px;
    }
    
    /*Contact*/
    .mobile-proposal {
        display: block;
        width: 280px;
        font-size: 22px;
        text-align: center;      
    }

    .main-contact {
        padding-top: 130px;
    }

    .contact-list {
        list-style: none;
        margin-left: auto;
        margin-right: 30px;
        padding-top: 0;
        width: 90px;
        height: 120px;
    }

    .contact-link  {
        position: relative;
        display: block;
        font-size: 1px;
        padding: 25px;
        color: transparent;
    }

    .contact-link::before {
        
        width: 55px;
        height: 55px;
        background-color: #ffffff;
        border-radius: 50%;
        border: 1px solid #ffffff;

    }

    .messages {
        margin-left: 30px;
        background-color: transparent;

    }

    .viber::before {
        background: #ffffff url('../img/viber.png') no-repeat  center;
    } 

    .viber:hover::before {
        background-color: transparent;
    } 

    .messages::before {
        background:  url('../img/messages.png') no-repeat  center;
    } 

    .messages:hover::before {
        background-color: #ffffff;
    } 
    
/*    main-services*/
    .main-services-list {
        display: flex;
        flex-wrap:wrap; 
        list-style: none;
        margin: 0;
        padding: 0;
    
    }
    
    .main-services-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    
    .services-header {
        font-size: 36px;
        color: #ffffff;    
    }
    
    .services-header::before {
        width: 165px;
        height: 2px;
        
    }
    
    .main-services-list a {
         color: #ffffff;
        font-family: 'HelveticaNeueCyr';
        font-size: 36px;
        line-height: normal;
        font-weight: bold;
        border: 2px solid #ffffff;
        padding: 30px 10px;
        text-decoration: none;    
        text-transform: uppercase;
    }
    
    .first-service {
        min-height: 425px;
        background:  url('../img/services-bg.jpg') no-repeat  0 0;
        background-size: cover; 
    }
    
    .second-service {
        min-height: 425px;
        background:  url('../img/services-bg2.jpg') no-repeat  0 0;
        background-size: cover; 
    }
    
    .second-service a {
        color: #000000;
        border: 2px solid #000000;
    }
    
    .third-service {
        min-height: 425px;
        background:  url('../img/services-bg3.jpg') no-repeat  0 0;
        background-size: cover;
    }
    
    .forth-service {
        min-height: 425px;
        background:  url('../img/services-bg4.jpg') no-repeat  0 0;
        background-size: cover;
    }
    
    .forth-service a {
        padding: 20px 65px;
    }
    
    .fifth-service {
         min-height: 425px;
        background:  url('../img/services-bg5.jpg') no-repeat  0 0;
        background-size: cover;
    }
    
    .fifth-service a {
        padding: 20px 90px;
    }
    
    .sixth-service {
        min-height: 425px;
        background:  url('../img/services-bg6.jpg') no-repeat  0 0;
        background-size: cover;
    }
    
    .seventh-service {
        min-height: 425px;
        background:  url('../img/services-bg7.jpg') no-repeat  0 0;
        background-size: cover;
    }
    
    .seventh-service  h3 {
        color: #ffffff;
        font-size: 36px;
        line-height: normal;
        padding: 10px 10px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .eighth-service {
        min-height: 425px;
        background:  url('../img/services-bg8.jpg') no-repeat  0 0;
        background-size: cover;
    }
    
    .ninth-service {
        min-height: 425px;
        background:  url('../img/services-bg9.jpg') no-repeat  0 0;
        background-size: cover;
    }
    
    .ninth-service a {
        padding: 20px 50px;
    }
    
    .tenth-service {
        min-height: 425px;
        background:  url('../img/services-bg10.jpg') no-repeat  0 0;
        background-size: cover;
    }
    
    .tenth-service a {
        padding: 20px 57px;
    }
    
    /*block-description*/
  
    
    
    .description-logo {
    font-size: 48px;
    }

    .description-header {
        font-size: 42px;
    }

    .block-description {
        font-size: 18px;
        line-height: 36px;
        background: none;
    }

    #description-img {
        background:  url('../img/description-bg.png') no-repeat 0 10px;
        background-size: cover;
        color: transparent;
    }
    
    .main-advantages {
        background: url('../img/advantages-bg-desktop.jpg') no-repeat 0 10px;
        background-size: cover
    }
    
    .main-advantages .mobile {
        display: none;
    }
    
    .main-advantages .desktop {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        font-family: "MyriadPro";
        color: #3b4954;
        font-size: 21px;
        line-height: normal;
        padding-top: 180px;
    }
    
    .advantages-column {
        display: flex;
        flex-direction: column;
    }
    
    .advantages-column-first {
       margin-right: 270px; 
    }
    
    .advantages-column-second {
        position: relative;
        margin-bottom: 120px;
        background-color: #696969;
        padding: 5px 10px;
        
    }
    
    .advantages1::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -140px;
        width: 130px;
        height: 130px;
        background: url("../img/advanteg7.png") no-repeat 0;        
    }
    
    .advantages2::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -140px;
        width: 130px;
        height: 130px;
        background: url("../img/advanteg5.png") no-repeat 0;        
    }
    
    .advantages3::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -140px;
        width: 130px;
        height: 130px;
        background: url("../img/advanteg6.png") no-repeat 0;        
    }
    
    .advantages4::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -140px;
        width: 130px;
        height: 130px;
        background: url("../img/advanteg8.png") no-repeat 0;        
    }
    
    .advantages5::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -140px;
        width: 130px;
        height: 130px;
        background: url("../img/advanteg9.png") no-repeat 0;        
    }
    
    .advantages6::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -140px;
        width: 130px;
        height: 130px;
        background: url("../img/advanteg10.png") no-repeat 0;        
    }
    

    .our-product-header {
        position: relative;
        top: 200px;
        left: 40px;
        font-size: 36px;
        line-height: normal;
        color: #ffffff;
        width: 440px;
        height: 100px;
        text-transform: uppercase;
        background:  url('../img/rectangle-desk.png') no-repeat  center;
    }

    .our-product-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        height: 850px;
        align-items: center;
        list-style: none;
        padding-bottom: 10px;
        margin-bottom: 1px;
    }

    .our-product-link {
        font-size: 21px;
        width: 230px;
    }

    .our-product-link::before {
        top: 35px;
    }

    .our-product-link:hover {
        color: #ffee00;
    }

    .our-product-link:hover::before {
        background-color: #ffffff;
    }
    
    .portfolio-desktop {
        display: flex;
        flex-direction: column;
    }
    
    .portfolio-blocks {
        display: flex;
    }
    
    .portfolio-block1,
    .portfolio-block4 {
        width: 40%;
    }
    
    .portfolio-block2 {
        width: 26%;
    }
    
    .portfolio-block3 {
        width: 34%;
    }
    
    .portfolio-block5 {
        width: 60%;
    }
    
    

    .portfolio {
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 231px;
     background:  none;
    background-size: cover;    
    }

    .portfolio-header {
        position: absolute;
        top: 100px;
        left: auto;
        font-size: 36px;
        text-transform: uppercase;
        color: #ffffff;
        width: 430px;
        text-align: center;
        background:  url('../img/rectangle-desk.png') no-repeat  center;
        padding: 25px;
    }
    
    /*our-clients*/
    .our-clients {
        position: relative;
        margin-bottom: 80px;
    }

    .clients-desktop {
        display: table;
        position: relative;
    }
    
     .clients-desktop::before {
        content: "";
        position: absolute;
        top: -50px;
        left: -140px;
        width: 10px;
        height: 530px;
        background: url("../img/line.png") no-repeat 0;     
    }
    
    .clients-desktop::after {
        content: "";
        position: absolute;
        bottom: -50px;
        right: -140px;
        width: 10px;
        height: 530px;
        transform: rotate(180deg);
        background: url("../img/line.png") no-repeat 0 -190px;     
    }
    
    .clients-mobile {
        display: none;
    }


    .our-clients-header {
        font-size: 36px;
    }

    .our-clients-table {
        margin-left: auto;
        margin-right: auto;
    }

    .our-clients-table td {
        border: 1px solid #bababa;
        padding: 10px 20px;        
    }

    .our-clients-btn {
        position: absolute;
        top: 250px;
        left: 120px;
        transform: rotate(45deg);
        font-size: 1px;
        padding: 12px;
        color: transparent;
        border: 2px solid #7d7e7e;
    }

    .our-clients-prev {
        border-top-color: transparent;
        border-right-color: transparent;    
    }

    .our-clients-next {
        left: auto;
        right: 120px;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
    
    /*our-address*/
    .our-address-desktop {
        display: flex;
    }
    
    .our-address-header {
        font-size: 36px;
    }

    .our-address-block {
        flex-direction: column;
    }

    .our-address-paragraph {
        display: block;
        margin-bottom: 20px;
    }

    .our-address-map {
        width: 100%;
    }
    /*footer*/

    .main-footer {
        display: flex;
        justify-content: space-around;
        border-top: 2px solid #cccccc;
        border-bottom: 2px solid #cccccc;
    }

    .footer-block {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-footer a {
        margin-bottom: 5px;
        margin-right: 40px;
        font-size: 16px;
    }

    .copyright {
        font-size: 14px;
    }
    
}
